html {
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'EB Garamond', serif;
  color: #999;
  text-align: center;
  background: url("../images/binding_dark.png");
}

#container {
  width: 960px;
}

#container::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  color: #ec2127;
  margin-bottom: 35px;
}

.box {
  float: left;
  font-size: 2em;
  padding: 25px 0;
  width: 100%;
}

div  {
  margin: 0 auto;
}

#logo {
  width: 400px;
}

.winImg {
  max-width: 50%;
  max-height: 400px;
}
