body {
  background-color: black;
  background-image: url("../images/greyBrick.jpg");
  font-family: 'EB Garamond', serif;
  color:777;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  color: #ec2127;
}

div {
  /* border: solid white 1px; */
  font-size: 2em;
  padding: 10px;
  margin: 25px;
}

div p {
  margin: 5px;
}

#logo {
  width: 50%;
}
